<html>
<head>
	<script type="text/javascript" src="jquery-2.1.1.min.js"></script>
	<script defer type="text/javascript" src="json.js"></script>
	<link rel="stylesheet" type="text/css" href="json.css" />


</head>
<body>
	<section class="checksplace">
            <input type="date" class="checkin">
            <input type="date" class="checkout">
    </section>
    
	<div class="list1"></div>
</body>
</html>
