<html>
<head>
</head>
<body>
	<section class="checksplace">
            <input type="date" id="saveCheckin">
            <input type="date" id="saveCheckOut">
    </section>
	<div class="list1"></div>
</body>
</html>

