.Nombre{
	text-align: left;
    display: inline-block;
    width: 96%;
}
.Valoracion{

	display: inline-block;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 20px

}
.Comentario{
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
background-color: rgba(255, 255, 255, 0.8);
width: 100%
height: 200px;


}
.caja{
background-color: rgba(201, 199, 201, 0.8);
	text-align: center;
	width: 500px;
	margin: 10px;
	position:relative;
	border-radius: 10px;
	z-index: 1000;
}
	position: absolute;
	right: 10px;
	top: -15px;