<!DOCTYPE html>
<html>
<head>
  <title>Industria</title>
  	<script defer type="text/javascript" src="json.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
  	<%= stylesheet_link_tag    'application', media: 'all'%>
  	<%= javascript_include_tag 'application', defer: :true %>
  	<%= csrf_meta_tags %>
  		
  	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				<!-- Optional theme -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body  onload="showlocation()">

<%= yield %>

</body>
</html>
